import {{pascalCase name}}IndexDatatable from '@/modules/{{pascalCase name}}/components/{{pascalCase name}}IndexDatatable';

const {{pascalCase name}}Index = () => {
    return (
        <div className="mx-3 mb-10">
            <{{pascalCase name}}IndexDatatable />
        </div>
    );
};

export default {{pascalCase name}}Index;
